@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');  
header{
background-color: #000000;
width: 100%;
height: 15vh;
box-shadow:0 0 10px 0 #000000;
display: flex;
}
#Logo-cineon{
    height: 15.2vh;
    margin-left: 1%;
}
section{
    background-color: #646464;
    min-height: 100%;
}
img{
    width: 100%;
    height: 100%;
}

p{
    font-size: 4rem;
    font-weight: 700;
    color: cornsilk;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left:30px ;
}
.capa-filme{
    width: 17vw;
    height: 45vh;
    background-color: #1b1b1b;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.capa1{
    display: flex;
    margin-top: 10px;
}
.capa2{
    display: flex;
    margin-top: 10px;
}
.capa3{
    display: flex;
    margin-top: 10px;
}
#btn-pesquisa{
    width: 5vw;
    height: 6vh;
    background-color: transparent;
    border-radius: 10px;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 1%;
}
#btn-pesquisa:hover{
    color: #000000;
    border:solid #000000 1px; 
    background-color: #ffffff;
    
}
#input-buscar-filme{
    border: 1px solid #000000;
    width: 15vw;
    height: 6vh;
    border-radius: 10px;
    
}
#input-buscar-filme::placeholder{
    color: #000000;
}
.d-flex{
    margin-top: 2%;
    margin-left: 13%;
}
button .btn-fav {
    width: 2vw;
    height: 5vh;
    border-radius: 10px;
   border-color: aliceblue;
}
.card-body{
    width:100% ;
    height: 100%;
    background-color: #1b1b1b;
    border-radius: 0 0 10px 10px;
}
.card-ing-topz {
    width:100% ;
    height: 70%;
    border-radius: 10px 10px 0 0;
}
.card{
    flex-direction: row;
    width: 20%;    
    height: 50%;
    max-width: 20%;
    min-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;
    border-radius: 15px;
    color: #ffffff;
    font-size: 12pt;
    border-radius: 10px; 
    font-family: 'Roboto Condensed', sans-serif;
    border: none;
}
#lista-filmes{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    background-color: #000000;
}
.btn.btn-outline-home{
    color: #ffffff;
    width: 10vw;
    height: 6vh;
    border:solid #ffffff 1px; 
    margin-top:2%;
    margin-left: 9%;
}
.btn.btn-outline-home:hover{
    color: #000000;
    border:solid #000000 1px; 
    background-color: #ffffff;
}
.btn.btn-outline-favoritos{
    color: #ffffff;
    width: 10vw;
    height: 6vh;
    border: 1px solid #ffffff;
    margin-top:2%;
    margin-left: 1%;
}
.btn.btn-outline-favoritos:hover{
    color: #000000;
    border:solid #000000 1px; 
    background-color: #ffffff;
}
.btn.genero{
    color: #ffffff;
    border:solid #ffffff 1px; 
    width: 10vw;
    height: 6vh;
    margin-top:20%;
    margin-left: 5%;
}
.btn.genero:hover{
    color: #000000;
    border:solid #000000 1px; 
    background-color: #ffffff;
}